body {
    background-color: var(--blue);
}

.container {
    margin: var(--lgSpacer);
    padding-bottom: var(--xlSpacer);
}

/* Intro tekst styling */
.introText {
    color: var(--darkGreen);
    margin-bottom: 2rem;

}

a {
    color: var(--darkGreen);

}

/* Frivillig tekst styling */
h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--darkGreen);
}

.frivilligText p {
    color: var(--darkGreen);
    line-height: 110%;
}

.frivilligText li {
    color: var(--darkGreen);
    line-height: 160%;

}


.haendbog {
    justify-content: center;
    display: flex;
    color: var(--darkGreen);
    align-items: center;
}





/* Accordion styling */
.accordion {
    background-color: var(--darkGreen);
    color: var(--blue);
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    font-size: large;
    text-align: left;
    border: none;
    margin-bottom: 0;
    font-family: 'GT Haptik', sans-serif;

}

.accordion i {
    float: right;
    color: var(--blue);
}

.panel {
    background-color: var(--mediumGreen);
    margin-top: 0;
    border-radius: 0 0 2rem 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
    display: none;



}


/* Styling af de åbnede accordions */
.panel.open {
    display: block;
}

.accordion.open {
    border-radius: 2rem 2rem 0 0;

}

.accordion:not(.open) {
    margin-bottom: 1rem;
}

/* Giv lidt mere mellemrum mellem tekst og accordion */

.first-accordion {
    margin-top: 2rem;
}