.chooseDayBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--darkGreen);
    padding: 0 var(--lgSpacer);

    position: sticky;
    top: 0;
    z-index: 1000;

    button {
        background-color: var(--darkGreen);
        border: none;
        color: var(--blue);
        font-size: 1rem;
        padding: 1rem 0.3rem;
    }

    button.active {
        background-color: var(--blue);
        color: var(--darkGreen);
    }

}



.filters {
    display: flex;
    justify-content: space-between;
    margin: var(--lgSpacer);
}

/* MAIN */


/* PROGRAM CARDS */
#programList {
    margin: var(--lgSpacer);
}

/* Card */
.programCard {
    padding: var(--lgSpacer);
    box-shadow: 3px 3px 6px rgba(0, 0, 0);
    margin-bottom: var(--lgSpacer);

    * {
        color: var(--darkGreen);
        margin: 0;
    }

    img {
        height: 200px;
        width: 100%;
        object-fit: cover;

    }
}

.card_overskrift_like {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 1.5rem;
    }
}

.programCardInfo {
    display: flex;
    justify-content: space-between;

    p {
        font-size: .9rem
    }
}

/* FAVORIT BESKED - Demo lavet med chatGPT */
.favorite-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--blue);
    color: var(--darkGreen);
    border: 2px solid var(--darkGreen);
    padding: 16px 26px;
    border-radius: 8px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.favorite-message.show {
    opacity: 1;
}






/* CSS PROGRAM UNDERSIDE */
/* EMMA - MUSIK UNDERSIDE */

.emma {
    background-color: var(--musikPink);
    padding: var(--lgSpacer);

    * {
        color: var(--darkGreen);
    }

    iframe {
        height: 100px;

    }

    #mapSection {
        img {
            margin-top: var(--lgSpacer);
            width: 100vw;
            object-fit: cover;
        }
    }
}